<div ng-app="app">
 <div ng-controller="jobsCtrl" ng-init="setup()">

<h4>Jobs</h4>

<div class="card-panel cool-border">
  <table>
    <thead>
      <tr>
          <th data-field="company">Company</th>
          <th data-field="position">Position</th>
          <th data-field="source">Source</th>
          <th data-field="status">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in jobs">
        <td><a href="/jobs/{{job.id}}"> {{job.company}} {{ job.last_name }} </a></td>
        <td>{{job.position }}</td>
        <td>{{job.source }}</td>
        <td>{{job.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h5> <a href="/jobs/new"> New job connection </a></h5>

<a href = "/jobs/"><p> cancel </p></a>
