<div ng-app="app">
 <div ng-controller="jobsCtrl" ng-init="setup()">
  <h4>Jobs Spreadsheet View</h4>
  <p> Number of job listings: {{jobs.length}} </p>
    <div class="narrow-row">
      <label> filter company: </label>
      <input ng-model="jobFilter" list="companies">
      <datalist id='companies'>
        <option ng-repeat="job in jobs"> {{job.company}}</option>
      </datalist>
    </div class="narrow-row">

    <div>
      <label> filter position: </label>
      <input ng-model="positionFilter" list="positions">
      <datalist id='positions'>
        <option ng-repeat="job in jobs"> {{job.position}}</option>
      </datalist>
    </div>

    <div class="card-panel cool-border">
      <table>
        <thead>
          <tr>
              <th><button ng-click="setOrderAttribute('company')">Company.. {{ direction }} </button></th>
              <th><button ng-click="setOrderAttribute('position')">Position.. {{ direction }} </button></th>
              <th><button ng-click="setOrderAttribute('source')">Source.. {{ direction }} </button></th>
              <th><button ng-click="setOrderAttribute('status')">Status.. {{ direction }} </button></th>
              <th><button ng-click="setOrderAttribute('skills')">Skills.. {{ direction }} </button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="job in jobs | filter:{company: jobFilter} | filter:{position: positionFilter} | orderBy:orderAttribute:isOrderDescending">
            <td><a href="/jobs/{{job.id}}"> {{job.company}} </a></td>
            <td>{{job.position }}</td>
            <td>{{job.source }}</td>
            <td>{{job.status }}</td>
            <td ng-repeat="skill in job.skills">{{skill.name }}{{$last ? '' : ', '}}
            </td>        
          </tr>
        </tbody>
      </table>
    </div>

    <h5> <a href="/jobs/new"> New job listing </a></h5>

    <a href = "/jobs/"><p> cancel </p></a>

  </div>
</div>