<h1>Networking Connections</h1>

<% @networkings.each do |networking|%>
<p> <%= networking.first_name %> <%= networking.last_name %> </p>

<% end %>

<h5> <a href="/networkings/new"> New networking connection </a></h5>
