<div ng-app="app">
 <div ng-controller="networkingsCtrl" ng-init="setup()">

<h4>Networking Connections</h4>

<div class="card-panel cool-border">
  <table>
    <thead>
      <tr>
          <th data-field="name">Name</th>
          <th data-field="emailed">Emailed?</th>
          <th data-field="phoned">Phoned?</th>
          <th data-field="letter_sent">Letter Sent?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="networking in networkings">
        <td><a href="/networkings/{{networking.id}}"> {{networking.first_name}} {{ networking.last_name }} </a></td>
        <td>{{networking.friendly_emailed }}</td>
        <td>{{networking.friendly_phoned }}</td>
        <td>{{networking.friendly_lettered }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h5> <a href="/networkings/new"> New networking connection </a></h5>

<a href = "/jobs/"><p> cancel </p></a>
