.tiger {
  width: 120px;
  height: 100%;
  margin-left: 90px;
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  
}

.round-card {
  border-radius: 40px !important;
}

.modal-content {
  color: black;
}

.my-nav {
  height: 110px !important;
}

.newjobbox {
  color: black;
  border: 5px solid #8ca9e5;
  padding: 10px;
}

.btn   {
  background-color: #8ca9e5 !important;
}

button {
  background-color: #8ca9e5 !important;
  color: white !important;
  height: 28px;
}

body {
  background-image: url('/assets/small_steps.png');
  height: 100%;
  width: 100%;
  font-family: 'Gudea', sans-serif;
}

.dropdown-content {
  min-width: 260px !important;
  margin-top: 50px !important;
}

.cool-border {
  border-radius: 40px !important;
  border: 5px solid #8ca9e5 !important;
}

.brand-logo {
  margin-top: 21px;
  font-family: 'Tillana', cursive;
  font-size: 49px !important;
}

#tiger-image {
  img {
    max-width: 400px;
    position: fixed;
  }
  float: right;
}

.narrow-row {
  line-height: 27%;
}

.small-top-margin {
  margin-top: 9px !important;
  padding: 5px !important;
}