<h1>Add a skill to this job listing</h1>
<%= form_tag "/jobs/#{@job.id}/job_skills", method: :post do  %>
  <div>
    <%= label_tag :skill_id %>
    <%= text_field_tag :skill_id %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>